body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: white;
}
.Button {
  font-size: 0.65em;
  a {
    text-decoration: none;
    color: inherit;
    &:link,
    :visited {
      color: inherit;
    }
  }
}
.Red-bg {
  background: $red;
}
.Light-text-grey {
  color: $lightgrey;
}

.Navy-text {
  color: $navy;
}
.Space-even {
  height: 5em;
}
.nav,
a {
  &:link,
  :visited {
    color: white;
  }
}
