$navy: #465371;
$red: #ff0040;
$lightgrey: #a5afc3;
$navfixedspace: 8vh;
// @import "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css";
@import "App";
@import "Headings";
@import "Text";
@import "Navbar";
@import "Landing";
@import "Features";
@import "Charts";
